<div class="content">
    <h3>
        {{
        isReadOnly ? 'Visualizar Fornecedor' :
        isEdit ? 'Editar Fornecedor' : 'Cadastrar Fornecedor'
        }}
    </h3>
</div>

<form [formGroup]="form"
      (ngSubmit)="onSubmit()"
      autocomplete="off">
    <div class="container-default">
        <span>
            {{
            isReadOnly ? 'Detalhes do fornecedor.' :
            isEdit ? 'Altere os dados do fornecedor nos campos abaixo.' : 'Preencha os campos abaixo para cadastrar um
            fornecedor.'
            }}
        </span>

        <div class="mt-5">
            <div class="row">
                <div class="col-md-4 col-sm-12 mb-2">
                    <label for="nome"
                           class="form-label">Nome</label>
                    <input class="form-control form-control-sm"
                           [class.is-invalid]="nome?.invalid && (nome?.touched || submitted)"
                           formControlName="nome"
                           id="nome"
                           placeholder="Ex: Cadeiras Cherry"
                           type="text">
                    <div *ngIf="nome?.invalid && (nome?.touched || submitted)">
                        <span *ngIf="nome?.errors?.required"
                              class="text-danger">Campo obrigatório</span>
                    </div>
                </div>


                <div class="col-md-2 col-sm-12 mb-2">
                    <label class="form-label me-2">Tipo de Pessoa</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input"
                                   [class.is-invalid]="tipoFornecedor?.invalid && submitted"
                                   (click)="trocarValidacaoDocumento(1)"
                                   formControlName="tipoFornecedor"
                                   type="radio"
                                   name="tipoFornecedor"
                                   id="pessoaFisica"
                                   [value]="1">
                            <label class="form-check-label"
                                   for="pessoaFisica">
                                Física
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input"
                                   [class.is-invalid]="tipoFornecedor?.invalid && submitted"
                                   (click)="trocarValidacaoDocumento(2)"
                                   formControlName="tipoFornecedor"
                                   type="radio"
                                   name="tipoFornecedor"
                                   id="pessoaJuridica"
                                   [value]="2">
                            <label class="form-check-label"
                                   for="pessoaJuridica">
                                Jurídica
                            </label>
                        </div>
                        <div *ngIf="tipoFornecedor?.invalid && submitted">
                            <span *ngIf="tipoFornecedor?.errors?.required"
                                  class="text-danger">Campo obrigatório</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 mb-2">
                    <label for="documento"
                           class="form-label">
                        {{ tipoFornecedor.value == 1 ? 'CPF' : 'CNPJ' }}
                    </label>
                    <input class="form-control form-control-sm"
                           [class.is-invalid]="documento?.invalid && (documento?.touched || submitted)"
                           formControlName="documento"
                           id="documento"
                           placeholder="{{ tipoFornecedor.value == 1 ? '000.000.000-00' : '00.000.000/0000-00' }}"
                           mask="{{ tipoFornecedor.value == 1 ? '000.000.000-00' : '00.000.000/0000-00' }}"
                           type="text">
                    <div *ngIf="documento?.invalid && (documento?.touched || submitted)">
                        <span *ngIf="documento?.errors?.required"
                              class="text-danger">Campo obrigatório</span>
                        <span *ngIf="documento?.errors?.cpf"
                              class="text-danger">CPF inválido</span>
                        <span *ngIf="documento?.errors?.cnpj"
                              class="text-danger">CNPJ inválido</span>
                    </div>
                </div>

                <div class="col-md-2 col-sm-12 mb-2">
                    <label class="form-label me-2">Ativar Fornecedor?</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input"
                                   [class.is-invalid]="ativo?.invalid && submitted"
                                   formControlName="ativo"
                                   type="radio"
                                   name="ativo"
                                   id="sim"
                                   [value]="true">
                            <label class="form-check-label"
                                   for="sim">
                                Sim
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input"
                                   [class.is-invalid]="ativo?.invalid && submitted"
                                   formControlName="ativo"
                                   type="radio"
                                   name="ativo"
                                   id="nao"
                                   [value]="false">
                            <label class="form-check-label"
                                   for="nao">
                                Não
                            </label>
                        </div>
                        <div *ngIf="ativo?.invalid && submitted">
                            <span *ngIf="ativo?.errors?.required"
                                  class="text-danger">Campo obrigatório</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 container-default">
        <span>
            Informe o endereço do fornecedor.
        </span>
        <div class="mt-5"
             formGroupName="endereco">
            <div class="row">
                <div class="col-md-2 col-sm-12 mb-2">
                    <label for="cep"
                           class="form-label">CEP</label>
                    <input class="form-control form-control-sm"
                           [class.is-invalid]="cep?.invalid && (cep?.touched || submitted)"
                           (blur)="buscarCep()"
                           formControlName="cep"
                           id="cep"
                           placeholder="Ex: 00000-000"
                           mask="00000-000"
                           type="text">
                    <div *ngIf="cep?.invalid && (cep?.touched || submitted)">
                        <span *ngIf="cep?.errors?.required"
                              class="text-danger">Campo obrigatório</span>
                        <span *ngIf="cep?.errors?.mask"
                              class="text-danger">CEP inválido</span>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 mb-2">
                    <label for="logradouro"
                           class="form-label">Logradouro</label>
                    <input class="form-control form-control-sm"
                           [class.is-invalid]="logradouro?.invalid && (logradouro?.touched || submitted)"
                           formControlName="logradouro"
                           id="logradouro"
                           placeholder="Ex: Cadeiras Cherry"
                           type="text">
                    <div *ngIf="logradouro?.invalid && (logradouro?.touched || submitted)">
                        <span *ngIf="logradouro?.errors?.required"
                              class="text-danger">Campo obrigatório</span>
                    </div>
                </div>

                <div class="col-md-2 col-sm-12 mb-2">
                    <label for="numero"
                           class="form-label">Número</label>
                    <input class="form-control form-control-sm"
                           [class.is-invalid]="numero?.invalid && (numero?.touched || submitted)"
                           formControlName="numero"
                           id="numero"
                           (keypress)="onlynumber($event);"
                           maxlength="5"
                           placeholder="Ex: 23"
                           type="text">
                    <div *ngIf="numero?.invalid && (numero?.touched || submitted)">
                        <span *ngIf="numero?.errors?.required"
                              class="text-danger">Campo obrigatório</span>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 mb-2">
                    <label for="complemento"
                           class="form-label">Complemento</label>
                    <input class="form-control form-control-sm"
                           [class.is-invalid]="complemento?.invalid && (complemento?.touched || submitted)"
                           formControlName="complemento"
                           id="complemento"
                           placeholder="Ex: Casa | AP 64"
                           type="text">
                    <div *ngIf="complemento?.invalid && (complemento?.touched || submitted)">
                        <span *ngIf="complemento?.errors?.required"
                              class="text-danger">Campo obrigatório</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-12 mb-2">
                    <label for="bairro"
                           class="form-label">Bairro</label>
                    <input class="form-control form-control-sm"
                           [class.is-invalid]="bairro?.invalid && (bairro?.touched || submitted)"
                           formControlName="bairro"
                           id="bairro"
                           placeholder="Ex: Vila dos Jogadores"
                           type="text">
                    <div *ngIf="bairro?.invalid && (bairro?.touched || submitted)">
                        <span *ngIf="bairro?.errors?.required"
                              class="text-danger">Campo obrigatório</span>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 mb-2">
                    <label for="cidade"
                           class="form-label">Cidade</label>
                    <input class="form-control form-control-sm"
                           [class.is-invalid]="cidade?.invalid && (cidade?.touched || submitted)"
                           formControlName="cidade"
                           id="cidade"
                           placeholder="Ex: São Paulo"
                           type="text">
                    <div *ngIf="cidade?.invalid && (cidade?.touched || submitted)">
                        <span *ngIf="cidade?.errors?.required"
                              class="text-danger">Campo obrigatório</span>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 mb-2">
                    <label for="estado"
                           class="form-label">Estado</label>
                    <select class="form-select form-select-sm"
                            [class.is-invalid]="estado?.invalid && (estado?.touched || submitted)"
                            formControlName="estado">
                        <option value=""
                                disabled
                                selected>Selecione</option>
                        <option *ngFor="let estado of estados"
                                [value]="estado.sigla"> {{ estado.nome }}</option>
                    </select>
                    <div *ngIf="estado?.invalid && (estado?.touched || submitted)">
                        <span *ngIf="estado?.errors?.required"
                              class="text-danger">Campo obrigatório</span>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-12 col-sm-12 text-end">
                    <button class="btn btn-primary-custom btn-sm me-2"
                            *ngIf="!isReadOnly">Confirmar</button>
                    <button class="btn btn-secondary btn-sm"
                            routerLink="/fornecedores">Voltar</button>
                </div>
            </div>

        </div>
    </div>
</form>