<div class=" h-100 d-flex justify-content-center flex-column">
    <div class="d-flex justify-content-center align-items-center mb-5">
        <div class="text-center">
            <img width="200"
                 height="200"
                 src="../../../../assets/img/img-404.png"
                 alt="">
            <div class="mt-4 mb-2">
                <h2>OoPS!</h2>
            </div>
            <span>Desculpe, esta página não foi encontrada.</span>
        </div>
    </div>
    <div class="d-flex justify-content-end pe-4">
        <h2>
            Erro 404
        </h2>
    </div>
</div>