@import '../../../scss/variables';

.header{
    background: $branca;
    height: 80px;
    padding: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
}