@import "../../../scss/variables";

.nav {
    list-style: none;
    li {
        margin-right: 20px;
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $primary;
            cursor: pointer;
            span {
                margin-left: 5px;
            }
            &:hover {
                color: $primary-contrast;
            }
        }
    }
    @media (max-width: 1024px) {
        display: none;
    }
}

.nav-mobile {
    display: none;
    .container-fluid {
        a.icon-menu {
            color: $cinza;
        }
        a {
            display: flex;
            color: $primary;
            span {
                margin-left: 5px;
            }
        }
    }
    @media (max-width: 1024px) {
        display: block;
    }
}
