<ul class="nav">
    <li>
        <a (click)="inicio()">
            <i data-feather="home"
               class="icon"></i>
            <span>
                Início
            </span>
        </a>
    </li>
    <li>
        <a (click)="fornecedores()">
            <i data-feather="server"
               class="icon"></i>
            <span>
                Fornecedores
            </span>
        </a>
    </li>
    <li>
        <a (click)="produtos()">
            <i data-feather="package"
               class="icon"></i>
            <span>
                Produtos
            </span>
        </a>
    </li>
</ul>