<ul class="nav">
    <li>
        <a (click)="inicio()">
            <i data-feather="home"
               class="icon"></i>
            <span>
                Início
            </span>
        </a>
    </li>
    <li>
        <a (click)="fornecedores()">
            <i data-feather="server"
               class="icon"></i>
            <span>
                Fornecedores
            </span>
        </a>
    </li>
    <li>
        <a (click)="produtos()">
            <i data-feather="package"
               class="icon"></i>
            <span>
                Produtos
            </span>
        </a>
    </li>
</ul>

<nav class="navbar navbar-light nav-mobile">
    <div class="container-fluid">
        <a class="cursor icon-menu"
           data-bs-toggle="offcanvas"
           data-bs-target="#navMobile"
           aria-controls="navMobile">
            <i data-feather="menu"
               class="icon"></i>
        </a>
        <div class="offcanvas offcanvas-end"
             tabindex="-1"
             id="navMobile"
             aria-labelledby="navMobileLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title"
                    id="navMobileLabel">Menu</h5>
                <button type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link"
                           data-bs-dismiss="offcanvas"
                           (click)="inicio()">
                            <i data-feather="home"
                               class="icon"></i>
                            <span>
                                Início
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           data-bs-dismiss="offcanvas"
                           (click)="fornecedores()">
                            <i data-feather="server"
                               class="icon"></i>
                            <span>
                                Fornecedores
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           data-bs-dismiss="offcanvas"
                           (click)="produtos()">
                            <i data-feather="package"
                               class="icon"></i>
                            <span>
                                Produtos
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>