// BOTÕES

.btn-primary-custom {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
    &:hover {
        color: $branca;
        background-color: $primary-contrast;
        border-color: $primary-contrast;
    }
}

// RADIO BUTTON

.form-check-input:checked {
    background-color: $primary;
    border-color: $primary;
}

//LIST

.list-group-item.active {
    background-color: $primary;
    border-color: $primary;
}
